* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.w {
    width: 1280px;
    margin: auto;
}

@media screen and (max-width: 1280px) and (min-width: 300px) {
    body .top {
      width: 1024px;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 300px) {
    body .top {
      width: 768px;
    }
    body .top .top_l {
      display: none;
    }
    body .top .top_c .top_r {
      display: none;
    }
  }